@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #000;
background-attachment: fixed;
}
/*cards pseudo grid*/
.col-md-4{padding:15px;}

/*not necessary*/

.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
    /*manipulate card color*/
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid  #fff;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  
}
.profile-card-2 h5{
    font-weight:600;
    color:#007bff;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #007bff;
    text-align: center;
    border: 1px solid #007bff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#007bff;
  color:#fff;
}


/*navbar things*/
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px; 
}
.nav-link{
  font-size: 1.1em !important;
}


/*fontawsome bottom links*/

.social a{
  font-size: 4em;
  padding: 3rem;
}
footer{
  background-color: black;
  color: antiquewhite;
  padding-top: 2rem;
}
