<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
    </head>

    <body>
        <main>
                <%- include('../partials/header'); %>
        </main>

        <h1>This will be the admin page</h1>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>

</html>