<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="../stylesheets/landing.css">
</head>

<body>
    <main>
        <%- include('../partials/header'); %>
    </main>

    <!--here we display the shoes-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="Card image cap" />
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://www.thenappylady.co.uk/user/products/large/clearance-sale.png" alt="profile-image"
                                class="profile" />
                            <h5 class="card-title">Shurvir Mori</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text Lorem Ipsum has been the industry's
                                standard dummy text</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                                        class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>