<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
        <link href="../stylesheets/submitNewElement.css" rel="stylesheet">
        <script src="/submitNewElement.js"></script>

    </head>

    <body>
        
    <%- include('../partials/header'); %>
    <script>
        $("#log").remove();
        $("#navbarResponsiveList").append("<li class=\"nav-item active\">");
        $("#navbarResponsiveList").append("<a class=\"nav-link\" href=\"/submitNewElement\">Add Item</a>");
        $("#navbarResponsiveList").append("</li>");
        
        $("#navbarResponsiveList").append("<li class=\"nav-item active\">");
        $("#navbarResponsiveList").append("<a class=\"nav-link\" href=\"/getInventory\">Inventory</a>");
        $("#navbarResponsiveList").append("</li>");
        
    </script>
    
        

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>New Inventory Entry</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fas fa-address-card"></i></span>
                            <span><i class="fas fa-address-card"></i></span>
                            <span><i class="fas fa-address-card"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <!--shoe name-->
                            <h4>Name</h4>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="text" id="shoe_name" class="form-control" placeholder="Shoe Name">
                            </div>
                            <!--shoe color-->
                            <h4>Color</h4>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="text" id="shoe_color" class="form-control" placeholder="color">
                            </div>
                            <!--shoe size-->
                            <h4>Size (from 35 to 43)</h4>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="number" id="shoe_size" class="form-control" placeholder="Size" min="35" max="43" step="0.5">
                            </div>
                            <!--upload image-->
                            <h4>Choose photo for upload</h4>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <!--for now it will be only a URL-->
                                <input type="url" id="url" class="form-control" placeholder="Image URL">
                            </div>
                            <!--submit button-->
                            <div class="form-group">
                                <button onclick="upload();"  class="btn float-right login_btn"><h5>Upload</h5></button>
                            </div>
                            <div id="status"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>

</html>